.page-header{
	height: 100;


	border-radius: 5px;
}
.page-header h1{
	color: black;
}
a{
	color: #B2B2B2
}
body {
  position: relative;
}
.side-navbar{
	z-index: 1000;
	position: sticky; 
	top: 10px;
}
.fixed{
	position: fixed;
	top: 160px;
	right: 50px;
}
.active{
	border-left: 3px solid 	#4D4D4D;
}